[package]
name = "brig"
version = "0.1.0"
edition = "2021"

[dependencies]
ovmf-prebuilt = "0.1.0-alpha.1" # used for UEFI booting in QEMU
bootloader = { version = "0.11.7", default-features = false, features = ["uefi"] }
cargo_metadata = "0.18.1"
itertools = "0.12.1"
