[build]
target = "x86_64-unknown-brig.json"
# ideally force frame pointers only enabled for debug builds
rustflags = ["-C", "force-frame-pointers=yes"]

[unstable]
build-std = [
    "core",
    "compiler_builtins",
    "alloc"
]
build-std-features = ["compiler-builtins-mem"]
