
[package]
name = "standalone"
version = "0.1.0"
edition = "2021"

[profile.dev]
opt-level = 0

[profile.release]
debug = true
#lto = "fat" small perf bump but increases compile time from 2 mins to 6 mins at time of writing

[dependencies]
aarch64_interpreter = { path = "../brig/plugins/guest/devices/arm/aarch64_interpreter" }
clap = { version = "4.5.4", features = ["derive"] }
rustix = { version = "0.38.34", features = ["mm"] }
pretty_env_logger = "0.5.0"
