[package]
name = "sailrs"
version = "0.1.1"
edition = "2021"
authors = ["AVISI Research Group"]
description = "Rust interface for the the [Sail compiler and AST](https://www.cl.cam.ac.uk/~pes20/sail/) written in OCaml."
homepage = "https://avisi.org.uk"
repository = "https://github.com/avisi-group/borealis"

[dependencies]
ocaml = { version = "1.0.1", features = ["no-panic-hook"] }
once_cell = "1.19.0"
parking_lot = "0.12.3"
displaydoc = "0.2.5"
thiserror = "1.0.64"
errctx = "1.0.0"
log = "0.4.22"
serde = { version = "1.0.210", features = ["derive"] }
deepsize = "0.2.0"
num-bigint = { version = "0.4.6", features = ["serde"] }
serde_json = "1.0.128"
strum = { version = "0.26.3", features = ["derive"] }
regex = "1.10.6"
color-eyre = { version = "0.6.3", default-features = false }
clap = { version = "4.5.18", features = ["derive"] }
rkyv = {version = "0.7.45", default-features = false, features = ["std", "alloc", "size_64"] }
rayon = "1.10.0"
lasso = { version = "0.7.3", features = ["multi-threaded", "deepsize", "serialize"] }
twox-hash = "1.6.3"
pretty_env_logger = "0.5.0"
byte-unit = "5.1.4"
# used only to get around lasso::ThreadedRodeo API
bincode = "1.3.3"


[build-dependencies]
cc = "1.1.22"
color-eyre = "0.6.3"

[dev-dependencies]
color-eyre = { version = "0.6.3", default-features = false }
proptest = "1.5.0"
serde_json = "1.0.128"
pretty_assertions = "1.4.1"
